body {
    font-family: 'Helvetica Neue', 'Liberation Sans', sans-serif;
    z-index: -1;
}

.nav {
    /*    position: fixed;*/
    width: 100%;
    height: 150px;
    box-shadow: 0px 5px 10px grey;
    background-color: white;
    z-index: 1;
}

.nav img {
    float: left;
    width: 246px;
    height: 150px;
    margin-left: 100px;
}

.nav ul {
    font-size: 1.8125rem;
    float: right;
    align-items: center;
    margin-top: 61px;
    margin-right: 100px;
}

.nav ul li {
    display: inline-block;
    margin: 0px 20px 0px 20px;
}

.nav ul li:last-of-type {
    margin: 0px 0px 0px 20px;
}

.nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.5625rem;
    /*25px, rem is 16px*/
}

#header {
    position: absolute;
    top: 250px;
    left: 100px;
    width: 990px;
    height: 420px;
    /*    border: 2px solid black;*/
}

#header h1 {
    font-size: 5rem;
    font-weight: bold;
}

#subheader {
    position: absolute;
    top: 315px;
    right: 100px;
    width: 500px;
    height: 312px;
    /*    border: 2px solid black;*/
}

#subheader ul {
    list-style-type: disc;
    list-style-position: outside;
}

#subheader ul li {
    font-size: 3.125rem;
}

#subheader ul li:last-of-type {
    list-style-type: none;
}

.button {
    position: absolute;
    background-color: white;
    border: 5px solid black;
    color: none;
    width: 232px;
    height: 64px;
    top: 690px;
    left: 50%;
    margin-left: -116px;
    border-radius: 32px;
}

.button h3 {
    font-size: 1.875rem;
}

.blue-curve {
    position: absolute;
    top: 805px;
    width: 100%;
}

.blue-curve-inverted {
    position: absolute;
    top: 2550px;
    width: 100%;
}

#why-hway-container {
    /*    position: absolute;*/
    display: flex;
    flex-direction: column;
    /*    align-content: center;*/
    justify-content: center;
    margin-top: 740px;
    width: 100%;
    height: 1780px;
    background-color: #003366;
    color: black;
}

#why-hway-container h2 {
    /*    position: absolute;*/
    color: white;
    font-size: 3.75rem;
    font-weight: bold;
    margin: 0px auto;
    padding: 0px 0px 50px 0px;
}

.hway-info {
    /*    display: flex;*/
    width: 1550px;
    height: 411px;
    margin: 40px auto;
    /*    border: 5px solid black;*/
    background-color: whitesmoke;
}

.info-text {
    display: flex;
    float: left;
    width: 50%;
    height: 100%;
    font-size: 30px;
    /*        background-color: red*/
    /*    align-content: center;*/
}

.info-text h3 {
    padding: 0px 70px;
    align-self: center;

}

.info-image {
    float: right;
    width: 50%;
    height: 100%;
    /*    background-image:url(Assets/hotel-exterior.jpg)*/
    /*    background-color: purple*/
}

.info-image img {
    width: 100%;
    height: 100%;
}

#right {
    float: right;
}

#left {
    float: left;
}

.placeholder-image {
    background-color: grey;
}

#services-container {
    width: 100%;
    height: 75vh;
    text-align: center;
}

#services-container-header {
    font-size: 60px;
    font-weight: bold;
    margin-top: 70px;
}

#services-container-subheader {
    font-size: 30px;
    margin: 36px auto;
}

#services-cards-container {
    margin: 80px auto 0px auto;
    width: 1600px;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.card {
    width: 400px;
    height: 100%;
    flex-grow: 1;
}

.card-image {
    width: 100%;
    height: 40%;
    /*    background-color: purple;*/
    /*    border: 1px solid red*/
}

.card-text {
    width: 100%;
    height: 60%;
    text-align: center;
    border: 1px solid red;
}

.card-image img {
    width: 100%;
    height: 100%;
}

h2#card-description-subheader {
    font-size: 27px;
    font-weight: bold;
    margin-top: 20px;
    padding: 0px;
}

h3#card-description-text {
    font-size: 20px;
    font-weight: normal;
    margin: 0px;
    padding: 10px 25px 25px 25px;
    line-height: 24px;
}

#popular-destinations-header {
    font-size: 3.75rem;
    font-weight: bold;
    text-align: center;
    margin-top: 6.25rem;
}

#popular-destinations-subheader {
    font-size: 30px;
    width: 81.25rem;
    margin: 2rem auto 0px auto;
    text-align: center;
}

#popular-destinations {
    width: 1200px;
    height: 500px;
    display: flex;
    margin: 50px auto 0px auto;
    /*    background-color: red;*/
}

.destinations {
    width: 50%;
    height: 100%;
}

#canada {
    /*    background-color: deepskyblue;*/
    /*    border: 1px solid red;*/
    float: left;
}

#canada ul {
    /*    margin: auto 80px*/
    padding: 0px 100px;
}

#us {
    /*        background-color: blue;*/
    /*    border: 1px solid blue;*/

    float: right;

}

.destinations h2 {
    font-size: 50px;
    text-align: center
}

.destinations ul {
    /*    padding: 25px;*/
    width: 500px;
    margin: 25px auto;
}

.destinations ul li {
    list-style-type: disc;
    font-size: 30px;
}

#footer {
    width: 100%;
    height: 520px;
    background-color: #003366;
}

#footer-slogan {
    font-size: 4.375rem;
    font-family: 'New York Medium', serif;
    font-weight: bold;
    font-style: italic;
    color: whitesmoke;
    text-align: center;
    padding-top: 100px;
}

#footer-copyright-info {
    float: right;
    width: 420px;
    height: auto;
    text-align: center;
    margin-right: 100px;
    margin-top: 50px;
}

#footer-copyright-info h3 {
    font-size: 25px;
    color: whitesmoke;
    padding: 0px 0px 20px 0px;
}

#footer-info-container {
    width: 100%;
    height: 150px;
    /*supposed to be 142px*/
    margin-top: 50px;
    /*    background-color: red;*/
}

#footer-info-container-small {
    display: inline-flex;
    width: auto;
    height: 142px;
    /*    background-color: purple;*/
    margin-top: 50px;
}

.footer-info-small {
    width: 100%;
    height: 50%;
    /*    border:1px solid yellow*/
}

.footer-info-small:last-of-type {
    margin-top: 30px;
}

.footer-info {
    /*    position: absolute;*/
    /*    border: 1px solid white;    */
    margin: 0px 100px;
}

.footer-info:nth-of-type(1) {
    width: 440px;
    /*    margin: 0px 0px 200px 230px*/
}

.footer-info:nth-of-type(2) {
    width: 390px;
}

.footer-info img {
    /*    margin-bottom: 40px;*/
    padding: 0px;
}

.footer-info ul {
    display: inline-block;
    color: whitesmoke;
    float: right;
}

.footer-info ul li {
    font-size: 30px;
}

.icon {
    display: none;
}

@media only screen and (max-width: 1440px) {
    .nav {
        height: 7.1875rem;
    }

    .nav ul {
        margin-top: 40px;
    }

    .nav img {
        height: 100%;
        width: 11.8125rem;
    }

    /*width is x1.3 less than 1920*/
    #header {
        top: 200px;
        width: 650px;
        height: 250px;
        /*        border: 1px solid black;*/
    }

    #header h1 {
        font-size: 3.75rem;
    }

    #subheader {
        top: 230px;
        width: 450px;
        height: 200px;
        /*        border: 1px solid black*/
    }

    #subheader ul li {
        font-size: 40px;
    }

    .button {
        top: 500px;
        width: 200px;
        height: 50px;
    }

    .button h3 {
        font-size: 1.5625rem;
    }

    .blue-curve {
        top: 600px
    }

    #why-hway-container {
        margin: 550px 0px 100px 0px;
        height: 1550px;
    }

    #why-hway-container h2 {
        font-size: 3.75rem;
        padding: 20px;
        /*        margin-bottom: 180px;*/
    }

    .hway-info {
        width: 1200px;
    }

    .hway-info:first-of-type {
        margin-top: 0px;
    }

    .info-text {
        font-size: 25px;
    }

    .blue-curve-inverted {
        top: 2150px
    }

    #services-container {
        height: 900px;
        /*        border: 1px solid red;*/
    }

    #services-cards-container {
        width: 1240px;
        margin: 80px auto
            /*        cards automatically grow to fill space, because flexbox*/

    }

    #services-container-header {
        font-size: 60px;
    }

    #services-container-subheader {
        font-size: 25px
    }


    .card {
        margin: 0px 10px
    }

    #popular-destinations-header {
        margin-top: 0px
            /*        margin-top: 1500px*/
    }

    #popular-destinations-header {
        font-size: 60px;
    }

    #popular-destinations-subheader {
        font-size: 25px;
        width: 1240px;
        margin: 20px 100px
    }

    #footer {
        height: 400px;
    }

    #footer-slogan {
        font-size: 50px;
    }

    #footer ul li,
    h3 {
        font-size: 25px
    }

    #footer-info-container-small {
        width: auto;
    }

    .footer-info:first-of-type {
        margin: 0px 0px 0px 50px;
        width: ;
    }

    .footer-info:last-of-type {
        margin: 0px;
    }

    .footer-info {
        width: 300px;
        height: 100px;
    }

    .footer-info-small,
    .footer-info-small:last-of-type {
        margin-left: 50px;
        padding: 0px;
    }

    .footer-info ul {
        float: none;
        margin-left: 10px
    }
}

@media only screen and (max-width: 1024px) {
    #overlay {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 70vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }

    .nav.responsive li {
        float: none;
        display: block;
        text-align: center;
        margin: 35px 0px;
    }

    .nav.responsive ul {
        background-color: white;
        z-index: 100;
        width: 100%;
        height: 300px;
        margin: 0;
    }

    .icon {
        /*        float: right;*/

        display: block;
        font-size: 50px;
        position: absolute;
        top: 2.03125rem;
        right: 30px
    }

    .nav ul li {
        display: none;

    }

    .nav img {
        margin-left: 30px;
    }

    #header {
        z-index: -1;
        top: 200px;
        left: 30px;
        width: 450px;
        height: 250px;
        /*        border: 1px solid black*/
    }

    #header h1 {
        font-size: 2.75rem;
    }

    #subheader {
        z-index: -1;
        top: 230px;
        right: 30px;
        width: 400px;
        height: 200px;
        /*        border: 1px solid black*/
    }

    #subheader ul li {
        font-size: 40px;
    }

    .button {
        top: 500px;
        width: 200px;
        height: 50px;
    }

    .button h3 {
        font-size: 1.5625rem;
    }

    .blue-curve {
        top: 600px
    }

    #why-hway-container {
        margin: 550px 0px 100px 0px;
        height: 1550px;

    }

    #why-hway-container h2 {
        font-size: 3.75rem;
        margin: 20px auto;
    }

    .hway-info {
        width: 100%;
    }

    .hway-info:first-of-type {
        margin-top: 0px;
    }

    .info-text {
        font-size: 25px;
    }


    .blue-curve-inverted {
        top: 2200px
    }


    #services-container {
        height: 1300px;
    }

    #services-cards-container {
        width: 100%;
        margin: 80px auto;
        flex-wrap: wrap;
    }

    #services-container-header {
        font-size: 60px;
    }

    #services-container-subheader {
        font-size: 25px;
        width: 924px;
    }

    .card {
        /*        width:500px;*/
        margin: 0px 30px;
        /*        height:auto;*/
    }

    #popular-destinations-header {
        margin-top: 0px;
        font-size: 60px;
    }

    #popular-destinations-subheader {
        font-size: 25px;
        width: 100%;
        margin: 25px 0px;
    }

    #popular-destinations {
        width: 100%;
        height: 100%;
        margin: 50px auto 75px auto;
    }

    #footer {
        height: 500px;
    }

    #footer-slogan {
        font-size: 50px;
    }

    #footer ul li,
    h3 {
        font-size: 25px
    }

    #footer-info-container-small {
        display: block;
        width: 500px;
        height: auto;
        /*        border: 1px solid black;*/
    }

    .footer-info {
        float: left;
        width: 100%;
        height: 100px;
        margin: 0px;
        display: block;
    }

    #footer-copyright-info {
        position: absolute;
        right: 30px;
        margin: 50px 0 0 0;
        /*        float: right;*/
        /*        margin-right: 30px;*/

    }

}
