body {
    font-family: 'Helvetica Neue', 'Liberation Sans', sans-serif;
    z-index: -1;
}

#nav {
    /*    position: fixed;*/
    width: 100%;
    height: 150px;
    box-shadow: 0px 5px 10px grey;
    background-color: white;
    z-index: 1;
}

#nav img {
    float: left;
    width: 246px;
    height: 150px;
    margin-left: 100px;
}

#nav ul {
    font-size: 1.8125rem;
    float: right;
    align-items: center;
    margin-top: 61px;
    margin-right: 100px;
}

#nav ul li {
    display: inline-block;
    margin: 0px 20px 0px 20px;
}

#nav ul li:last-of-type {
    margin: 0px 0px 0px 20px;
}

#nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.5625rem;
    /*25px, rem is 16px*/
}

#header {
    position: absolute;
    top: 250px;
    left: 100px;
    width: 990px;
    height: 420px;
    /*    border: 2px solid black;*/
}

#header h1 {
    font-size: 5rem;
    font-weight: bold;
}

#subheader {
    position: absolute;
    top: 315px;
    right: 100px;
    width: 500px;
    height: 312px;
    /*    border: 2px solid black;*/
}

#subheader ul {
    list-style-type: disc;
    list-style-position: outside;
}

#subheader ul li {
    font-size: 50px;
}

#subheader ul li:last-of-type {
    list-style-type: none;
}

.button {
    position: absolute;
    background-color: white;
    border: 5px solid black;
    color: none;
    width: 232px;
    height: 64px;
    top: 690px;
    left: 50%;
    margin-left: -116px;
    border-radius: 32px;
}

.button h3 {
    font-size: 1.875rem;
}

.blue-curve {
    position: absolute;
    top: 805px;
}

.blue-curve-inverted {
    position: absolute;
    top: 2550px
}

#why-hway-container {
    /*    position: absolute;*/
    display: flex;
    flex-direction: column;
    /*    align-content: center;*/
    justify-content: center;
    margin-top: 740px;
    width: 100%;
    height: 1780px;
    background-color: #003366;
    color: black;
}

#why-hway-container h2 {
    /*    position: absolute;*/
    color: white;
    font-size: 3.75rem;
    font-weight: bold;
    margin: 0px auto;
    padding: 0px 0px 50px 0px;
}

.hway-info {
    /*    display: flex;*/
    width: 1550px;
    height: 411px;
    margin: 40px auto;
    /*    border: 5px solid black;*/
    background-color: whitesmoke;
}

.info-text {
    display: flex;
    float: left;
    width: 50%;
    height: 100%;
    font-size: 30px;
    /*        background-color: red*/
    /*    align-content: center;*/
}

.info-text h3 {
    padding: 0px 70px;
    align-self: center;

}

.info-image {
    float: right;
    width: 50%;
    height: 100%;

    /*    background-color: purple*/
}

#right {
    float: right;
}

#left {
    float: left;
}

.placeholder-image {
    background-color: grey;
}

#services-container {
    width: 100%;
    height: 75vh;
    text-align: center;
}

#services-container h2 {
    font-size: 60px;
    font-weight: bold;
    margin-top: 70px;
}

#services-container h3 {
    font-size: 30px;
    margin: 36px auto;
}

#services-cards-container {
    margin: 80px auto 0px auto;
    width: 1600px;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.card {
    width: 40px;
    height: 100%;
    flex-grow: 1;
}

.card-image {
    width: 100%;
    height: 40%;
    /*    background-color: purple;*/
    /*    border: 1px solid red*/
}

.card-text {
    width: 100%;
    height: 60%;
    text-align: center;
    border: 1px solid red;
}

.card-image img {
    width: 100%;
    height: 100%;
}

h2#card-description-subheader {
    font-size: 27px;
    font-weight: bold;
    margin-top: 20px;
    padding: 0px;
}

h3#card-description-text {
    font-size: 20px;
    font-weight: normal;
    margin: 0px;
    padding: 10px 25px 25px 25px;
    line-height: 24px;
}

#popular-destinations-header {
    font-size: 3.75rem;
    font-weight: bold;
    text-align: center;
    margin-top: 6.25rem;
}

#popular-destinations-subheader {
    font-size: 30px;
    width: 81.25rem;
    margin: 0px auto;
    text-align: center;
    margin-top: 2rem;
}

#popular-destinations {
    width: 1200px;
    height: 500px;
    display: flex;
    margin: 50px auto 0px auto;
    /*    background-color: red;*/
}

.destinations {
    width: 50%;
    height: 100%;
}

#canada {
    /*    background-color: deepskyblue;*/
    /*    border: 1px solid red;*/
    float: left;
}

#canada ul {
    /*    margin: auto 80px*/
    padding: 0px 100px;
}

#us {
    /*        background-color: blue;*/
    /*    border: 1px solid blue;*/

    float: right;

}

.destinations h2 {
    font-size: 50px;
    text-align: center
}

.destinations ul {
    /*    padding: 25px;*/
    width: 500px;
    margin: 25px auto;
}

.destinations ul li {
    list-style-type: disc;
    font-size: 30px;
}
